{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .recap {
        border: 1px solid black;
        font-size:1em;
        font-weight:bold;}
    p.recap {font-size: 1em;
    background-color: #AA3333;}
    fieldset.form-group legend.col-form-label.required {display:none;}
    .comment { font-style: italic}
</style>

<div class="example-wrapper">

    <h1>Validation</h1>

    <h2>Voici un récapitulatif de votre commande</h2>

    <div class="recap">

        {% for ticket in tickets %}

            <p>Nom : {{ticket.LastName }}</p>
            <p>Prenom : {{ticket.FirstName}}</p>

            {%  if ticket.HalfDay %}
                <P>Tarif demi journée</P>
            {% endif %}

            {%  if ticket.ReducedRate %}
                <P>Tarif réduit</P>
                <p class="comment">( Pensez à présenter votre justificatif le jour de la visite ... ) </P>
            {% endif %}

            <p>Date de visite : {{ticket.DateTicket|date('d,m,Y')}}</p>
            <br/>
            <p>Montant total {% app.session.get('orderPrice')*100 %}</p>

        {%  endfor %}

    </div>

{% endblock %}


